DB_PASSWORD=
JWT_SECRET=change-me-in-production
JWT_ALGORITHM=HS256 # HS256 | ES256 | RS256
JWT_EXPIRY=24h
# JWT_PRIVATE_KEY=-----BEGIN EC PRIVATE KEY-----\n...
# JWT_PUBLIC_KEY=-----BEGIN PUBLIC KEY-----\n...
# JWT_ALGORITHM=ES256